`.gitignore`

```gitignore
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.DS_Store

renv/library/
renv/staging/

data_raw/*
!data_raw/README.md

data_processed/*
!data_processed/README.md

*.rds
*.RData
*.log
*.html